@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

$color-highlight: #d5e5ff;

html {
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	line-height: 1.6rem;
}

body {
	margin: 0;
	padding: 0;
}

table {
	$border: 1px solid #e0e0e0;

	width: 100%;
	text-align: left;
	border-top: $border;
	border-left: $border;
	border-collapse: collapse;

	& th, & td {
		border-right: $border;
		border-bottom: $border;
		padding: .6rem;
	}

	& input {
		padding: 0;
		border: none;
		outline: none;
		background-color: transparent;
		font-size: 14px;
		font-family: 'Nunito', sans-serif;
		width: 100%;
	}

	& .material-design-icon__svg {
		color: #4444;
		margin-top: -2px;
		margin-bottom: -6px;
		width: 24px;
		height: 24px;

		&:hover {
			color:#020202;
		}
	}
}