.container {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: flex;
	flex-flow: row nowrap;
	margin-left: -16px;
	margin-right: -16px;
}

%grid-col {
	display: flex;
	flex-flow: column nowrap;
	padding-left: 16px;
	padding-right: 16px;
}

.col {
	@extend %grid-col;
	width: 100%;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		@extend %grid-col;
		width: 100% * $i / 12;
	}
}