@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;

0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -16px;
  margin-right: -16px;
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1,
.col {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 16px;
  padding-right: 16px;
}

.col {
  width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.input {
  padding: 8px;
}

.table {
  width: 100%;
}

.table,
.table-cell,
.table-header {
  text-align: left;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}

